
body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo-docplanner{
  display: flex;
  width: 268px;
    height: 33px;
}
.title{
  display: flex;
  font-size: 2.125rem;
  justify-content: center;
  color: #00b39b;
}
.p{
  color: black;
}
  

